.register-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container .content {
  width: 85%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, .15);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-content: center;
}

section img {
  margin-bottom: 3.5em;
}

section p {
  margin-bottom: 4.5em;
}

.register-container .content form input {
  margin-bottom: 8px;
}