.profile-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.profile-container header {
  display: flex;
  align-items: center;
}

.profile-container header span{
  font-size: 20px;
  margin-left: 24px;
}

.profile-container header a {
  width: 260px;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-left: auto;
  margin-top: 0pt;
}

.profile-container header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 15px;
  transition: border-color .4s;
}

.profile-container header button:hover {
  border-color: #999;
}

.profile-container h1 {
  margin-top: 70px;
  margin-bottom: 24px;
}

.profile-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
}

.profile-container ul li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.profile-container ul li button {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 0;
  background-color: #fff;
}