@import url('https://fonts.googleapis.com/css2?family=Literata:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Litera', Courier, monospace;
  font-weight: 500; 
  background-color: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font-family: 'Lora', Courier, monospace;
  font-weight: 700; 
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 40px;
  font-size: 30px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
}

form textarea {
  width: 100%;
  min-height: 140px;
  font-size: 30px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  line-height: 30px;
  resize: vertical;
}

.button {
  width: 100%;
  height: 65px;
  background: #e02041;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  transition: filter .3s;
}

.button:hover {
  filter: brightness(92%);
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 30px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  transition: opacity .3s;
}

.back-link:hover {
  opacity: .9;
}

.back-link svg {
  margin-right: 10px;
}
